{% extends 'store/main.html' %}
{% load static %}
{% load humanizelib %}

{% block content %} 
    <div class="row">
        <div class="col-lg-4 ">
            <img class="thumbnail" src="{{ product.imageURL }}" alt="thumbnail" style="height: 400px;">
        </div>
        <div class="col-lg-8">
            <div class="box-element">

                <div>
                    <a style="display: inline-block; float:right;" class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
                    <h3>{{product.name }}</h3>
                    <h6 class="mt-4">Description:</h6>
                    <p >{{ product.description }}</p>
                    <h6 class="font-weight-bold mt-1">Kshs {{product.price |intcomma }}</h6>
                    <br>
                </div>
                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            </div>
        </div>
    </div>
{%  endblock %} 