{% extends 'store/main.html' %}
{% load static %}
{% load humanizelib %}

{% block content %} 

    <div class="row">
        {% for product in products %}
        <div class="col-lg-3 mt-4">
            <img class="thumbnail" src="{{ product.imageURL }}" alt="thumbnail">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <button class="btn btn-sm btn-outline-secondary add-btn mt-1">Add to Cart</button>
                <a class="btn btn-sm btn-outline-success mt-1" href="#">View</a>
                <!-- <h5 style="display: inline-block; float:right;">Kshs {{product.price | floatformat:2 }}</h5> -->
                <h6 class="mt-3 " >Kshs.{{product.price | floatformat:2 |intcomma }}</h6>
            </div>
        </div>
        {% endfor %}

        <!-- <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="thumbnail">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float:right;">Kshs.2000</h4>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="thumbnail">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float:right;">Kshs.2000</h4>
            </div>
        </div> -->

    </div>

{% endblock %}

